<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href="http://libs.baidu.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
    <title>playcomb</title>
    <style>

        .a{padding-left: 8px;padding-top: 4px; color: #000000;}
    </style>
</head>
<body>
<div class="container">
<nav class="nav navbar-default navbar-fixed-top" style="background-color:#e5e5e5;height: 46px; " role="navigation">
    <div class="container-fluid">
        <div class="navbar-header" style="padding-left:-10%;float: left;">
            <img src="http://jingjingtangtang.qiniudn.com/1.png" />

        </div>
        <div style="padding-left:92%;padding-top: 6px;">
            <button class="btn-sm" >退出</button>
        </div>

    </div>
</nav>
</div>

<div class="container-fluid" style="padding-top: 3px;">

        <div  style="background-color:#e6e6e6;width:15%;height:600px; float: left; border:1px #000000;padding-top: 100px;">
            <span  class="glyphicon glyphicon-play a">公告
                <ul>
                    <li>列表</li>
                </ul>
            </span>
            <span class="glyphicon glyphicon-play a">系统通知
            <ul>
                <li>开启列表</li>
                <li>关闭列表</li>
                <li>已推送</li>
                <li>将要推送的通知</li>
            </ul>
            </span>
            <span class="glyphicon glyphicon-play a">活动
            <ul>
                <li>活动列表</li>
                <li>置顶列表</li>
                <li>添加活动</li>
            </ul>
            </span>
            <span class="glyphicon glyphicon-play a">玩家
            <ul>
                <li>玩家列表</li>
            </ul>
            </span>
            <span class="glyphicon glyphicon-play a">Test
            <ul>
                <li>TestPage</li>
            </ul>
            </span>
        </div>


        <div style="padding-left:2%; width: 78%; float: left">
            <
            <!--<div class="gamename">-->
               <!--<p class="float-left">-->
                   <!--<i class="icon-24-resum icon-24-view"></i>-->
                   <!--"游戏名称"-->
               <!--</p>-->
                <!--<div class="resume-visible-set">-->
                    <!--<a href="javascript:;" data-selector="resume-visible-set" class="resume-visible">-->
                        <!--<span>全部游戏</span>-->
                        <!--<i>::before-->
                            <!--::after-->
                        <!--</i>-->
                    <!--</a>-->
                    <!--<ul data-selector="resumeVisiblePanel">-->
                        <!--<li>-->
                            <!--<a data-value="0" href="javascript:;">英雄联盟</a>-->
                        <!--</li>-->
                        <!--<li>-->
                            <!--<a data-value="1" href="javascript:;">三国杀</a>-->
                        <!--</li>-->
                        <!--<li>-->
                            <!--<a data-value="2" href="javascript:;">八仙过海</a>-->
                        <!--</li>-->
                        <!--<li>-->
                            <!--<a data-value="3" href="javascript:;">神鬼幻想</a>-->
                        <!--</li>-->
                    <!--</ul>-->
                <!--</div>-->


            <form role="form">
                <label for="name">标题</label>
                <input type="text" class="form-control" id="name">
            </form>


            <p>共查询出<kbd>0条</kbd>符合条件的数据</p>
            <div class="table-responsive ">
                <table class="table table-bordered  table-hover table-condensed">
                    <thead style="background-color: #e5e5e5">
                    <tr>
                        <th>游戏</th>
                        <th>标题</th>
                        <th>开始时间</th>
                        <th>结束时间</th>
                        <th>版本类型</th>
                        <th>公告类别</th>
                        <th>平台</th>
                        <th>发布状态</th>
                    </tr>

                    </thead>
                    <tbody>


                    <tr>
                        <td>神鬼幻想</td>
                        <td>元宵节充值送大礼</td>
                        <td>2015-03-04 20:00:00</td>
                        <td>2015-03-06 20:00:00</td>
                        <td>上线</td>
                        <td>一天只显示</td>
                        <td>Android</td>
                        <td>已发布</td>
                    </tr>
                    <tr>
                        <td>神鬼幻想</td>
                        <td>元宵节充值送大礼</td>
                        <td>2015-03-04 20:00:00</td>
                        <td>2015-03-06 20:00:00</td>
                        <td>上线</td>
                        <td>一天只显示</td>
                        <td>Android</td>
                        <td>已发布</td>
                    </tr>
                    <tr>
                        <td>神鬼幻想</td>
                        <td>元宵节充值送大礼</td>
                        <td>2015-03-04 20:00:00</td>
                        <td>2015-03-06 20:00:00</td>
                        <td>上线</td>
                        <td>一天只显示</td>
                        <td>Android</td>
                        <td>已发布</td>
                    </tr>
                    <tr>
                        <td>神鬼幻想</td>
                        <td>元宵节充值送大礼</td>
                        <td>2015-03-04 20:00:00</td>
                        <td>2015-03-06 20:00:00</td>
                        <td>上线</td>
                        <td>一天只显示</td>
                        <td>Android</td>
                        <td>已发布</td>
                    </tr>
                    <tr>
                        <td>神鬼幻想</td>
                        <td>元宵节充值送大礼</td>
                        <td>2015-03-04 20:00:00</td>
                        <td>2015-03-06 20:00:00</td>
                        <td>上线</td>
                        <td>一天只显示</td>
                        <td>Android</td>
                        <td>已发布</td>
                    </tr>
                    <tr>
                        <td>神鬼幻想</td>
                        <td>元宵节充值送大礼</td>
                        <td>2015-03-04 20:00:00</td>
                        <td>2015-03-06 20:00:00</td>
                        <td>上线</td>
                        <td>一天只显示</td>
                        <td>Android</td>
                        <td>已发布</td>
                    </tr>
                    <tr>
                        <td>神鬼幻想</td>
                        <td>元宵节充值送大礼</td>
                        <td>2015-03-04 20:00:00</td>
                        <td>2015-03-06 20:00:00</td>
                        <td>上线</td>
                        <td>一天只显示</td>
                        <td>Android</td>
                        <td>已发布</td>
                    </tr>
                    <tr>
                        <td>神鬼幻想</td>
                        <td>元宵节充值送大礼</td>
                        <td>2015-03-04 20:00:00</td>
                        <td>2015-03-06 20:00:00</td>
                        <td>上线</td>
                        <td>一天只显示</td>
                        <td>Android</td>
                        <td>已发布</td>
                    </tr>
                    <tr>
                        <td>神鬼幻想</td>
                        <td>元宵节充值送大礼</td>
                        <td>2015-03-04 20:00:00</td>
                        <td>2015-03-06 20:00:00</td>
                        <td>上线</td>
                        <td>一天只显示</td>
                        <td>Android</td>
                        <td>已发布</td>
                    </tr><tr>
                        <td>神鬼幻想</td>
                        <td>元宵节充值送大礼</td>
                        <td>2015-03-04 20:00:00</td>
                        <td>2015-03-06 20:00:00</td>
                        <td>上线</td>
                        <td>一天只显示</td>
                        <td>Android</td>
                        <td>已发布</td>
                    </tr><tr>
                        <td>神鬼幻想</td>
                        <td>元宵节充值送大礼</td>
                        <td>2015-03-04 20:00:00</td>
                        <td>2015-03-06 20:00:00</td>
                        <td>上线</td>
                        <td>一天只显示</td>
                        <td>Android</td>
                        <td>已发布</td>
                    </tr><tr>
                        <td>神鬼幻想</td>
                        <td>元宵节充值送大礼</td>
                        <td>2015-03-04 20:00:00</td>
                        <td>2015-03-06 20:00:00</td>
                        <td>上线</td>
                        <td>一天只显示</td>
                        <td>Android</td>
                        <td>已发布</td>
                    </tr><tr>
                        <td>神鬼幻想</td>
                        <td>元宵节充值送大礼</td>
                        <td>2015-03-04 20:00:00</td>
                        <td>2015-03-06 20:00:00</td>
                        <td>上线</td>
                        <td>一天只显示</td>
                        <td>Android</td>
                        <td>已发布</td>
                    </tr>
                    </tbody>
                </table>
            </div>

                <nav style="padding-left: 20%" >
                    <ul class="pagination">
                        <li><a href="#">首页</a> </li>
                        <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                        <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                        <li><a href="#">2 <span class="sr-only">(current)</span></a></li>
                        <li><a href="#">3 <span class="sr-only">(current)</span></a></li>
                        <li><a href="#">4 <span class="sr-only">(current)</span></a></li>
                        <li><a href="#">5 <span class="sr-only">(current)</span></a></li>
                        <li><a href="#">6 <span class="sr-only">(current)</span></a></li>
                        <li><a href="#">7 <span class="sr-only">(current)</span></a></li>
                        <li class="disabled"><a href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
                        <p>共100页，跳转到第<input type="text" style="width: 40px; padding-top: 6px;">页 </p>

                    </ul>
                       <button class="pager">确定</button>
                </nav>

        </div>



    </div>
    </div>



<nav class="nav navbar-default navbar-fixed-bottom" style="background-color:#e6e6e6;height: 30px; " role="navigation">
    <div class="container">
        <div class="navbar-footer"  >
           <a class="navbar-brand" href="#" style="font-size: 12px;padding-left:38% ;padding-top: 8px;">Copyright@2015 Perfet World,Ltd All tights reserved </a>
        </div>
    </div>
</nav>
<script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
<script src="http://libs.baidu.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
</body>
</html>
